#contacts-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
}

#contacts-table td, #contacts-table th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

#contacts-table tr:nth-child(even){background-color: #f2f2f2;}


#contacts-table tr:hover {background-color: #ddd;}


#contacts-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #00af93;
    color: white;
}

.delete-entry{
    color: #555555;
}

.update-entry{
    color: #555555;
}

#description-for-edit{

}